.container__tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.form__tasks {
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task__item {
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn-delete,
.btn-update {
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333;

}

.btn-update {
  background-color: #4caf50;
  color: #fff;
}